/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Bellefair&family=Poppins:wght@200&family=Roboto&family=Rubik:wght@400;600&display=swap');
@import '~@angular/material/theming';




html, body {
  height: 100%;
  font-family: 'Rubik', sans-serif;;
}


$custom-typography: mat-typography-config(
  $font-family: 'Rubik, sans-serif',
  $headline: mat-typography-level(32px, 48px, 600),
  $body-1: mat-typography-level(16px, 24px, 400)
);


