.next-btn {
  margin-right: 9px;
}

.send-again{
  width: 13%;
}

.mat-icon:hover {
  opacity: 1 !important;
  color:#c73126;
}

.dots{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
