<form [formGroup]="frmStepTwo" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-card>
    <mat-card-header>
      <mat-card-title> עוד ממש קצת... </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div
        class="spinner"
        *ngIf="!(stateStore.otp.value$ | async); else showContent"
      >
        <div class="d-flex align-items-center">
          <ng-lottie [options]="spinner"></ng-lottie>
        </div>
      </div>
      <ng-template #showContent>



          <mat-label>
            מהו הקוד שנשלח לך לנייד מספר
            {{ stateStore.phone.value }} ?</mat-label
          >

          <div dir="ltr" type="password">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6} "></ng-otp-input>
        </div>
        הקוד שהוקלד
          <mat-error *ngIf="!otp && isSubmitted">
         שגוי
          </mat-error>
      </ng-template>
    </mat-card-content>
    <mat-card-actions dir="ltr">
      <button
        type="submit"
        color="warn"
        matStepperNext
        mat-icon-button
        color="warn"
        matTooltip="הבא"
        matTooltipHideDelay="100000"
      >
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button
        matTooltip="הקודם"
        matTooltipHideDelay="100000"
        matStepperPrevious
        mat-icon-button
        color="accent"
      >
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button
        matTooltip="שלח שוב"
        matTooltipHideDelay="100000"
        (click)="resendOtp()"
        mat-icon-button
        color="black"
      >
        <mat-icon>autorenew</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
<!-- <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6} "></ng-otp-input> -->
