.mat-icon:hover {
  opacity: 1 !important;
  color: #1a1818;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

mat-label {
  margin: 10px 0;
}

.otpLottie {
  width: 200px;
  height: 200px;
}

.btn-grad {
  border-radius: 42px;
  width: 50%;
  color: white;

  &-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
}

.reset-otp a {
  display: flex;
  justify-content: center;
  align-items: center;
}
