<mat-sidenav-container>
  <mat-toolbar color="primary">
    <span class="title"> בנק הפועלים </span>
  </mat-toolbar>
  <div *ngIf="!displayStepper; else stepper">
    <app-home-page (next)="displayStepper = true"></app-home-page>
  </div>

  <ng-template #stepper>
    <app-stepper></app-stepper>
  </ng-template>

  <app-loan-details *ngIf="showLastStage"></app-loan-details>
</mat-sidenav-container>

<!-- <div class="app-content" [ngSwitch]="screenStage">
  <app-home-page *ngSwitchCase="screenStages.Intro" (next)="showStage(screenStages.IdNumber)"></app-home-page>
  <app-id-number *ngSwitchCase="screenStages.Stepper" (next)="showStage(screenStages.LoanDetails)"></app-id-number>

  <app-loan-details *ngSwitchCase="screenStages.LoanDetails"></app-loan-details>
</div> -->
<!-- <app-loan-details></app-loan-details> -->
