<mat-sidenav-container>
  <mat-toolbar color="primary">
    <span class="title">
      בנק הפועלים
    </span>
  </mat-toolbar>

  <!-- <div class="app-content" [ngSwitch]="screenStage"> -->
    <app-home-page *ngIf="!displayStepper" (next)="displayStepper=true"></app-home-page>
    <!-- <app-id-number *ngSwitchCase="screenStages.IdNumber" (next)="showStage(screenStages.Otp)"></app-id-number>
    <app-otp *ngSwitchCase="screenStages.Otp" (next)="showStage(screenStages.Queries)"></app-otp>
    <app-queries *ngSwitchCase="screenStages.Queries" (next)="showStage(screenStages.OffersLis)"></app-queries>
    <app-offers-list *ngSwitchCase="screenStages.OffersLis" (next)="showStage(screenStages.LoanDetails)"></app-offers-list>
    <app-loan-details *ngSwitchCase="screenStages.LoanDetails"></app-loan-details> -->
  <!-- </div> -->
  <app-stepper *ngIf="displayStepper"></app-stepper>

</mat-sidenav-container>



<h5>Raised Text Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-raised p-button-text"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-raised p-button-secondary p-button-text"></button>
<button pButton pRipple type="button" label="Success" class="p-button-raised p-button-success p-button-text"></button>
<button pButton pRipple type="button" label="Info" class="p-button-raised p-button-info p-button-text"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-raised p-button-warning p-button-text"></button>
<button pButton pRipple type="button" label="Help" class="p-button-raised p-button-help p-button-text"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-raised p-button-danger p-button-text"></button>
<button pButton pRipple type="button" label="Plain" class="p-button-raised p-button-text p-button-plain"></button>
