.app-content {
  min-height: 400px;
}

.mat-card-header {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

h3, h4 {
  text-align: center;
  margin: 10px 0;
}

.is-loading {
  > * {
    // visibility: hidden;
    opacity: 0.3;
  }
  background-image: url("../assets/fidget-spinner.gif");
  background-repeat: no-repeat;
  background-position: center center;
}
