<mat-sidenav-container>
  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">בנק הפועלים</span>
  </mat-toolbar>

  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>בחר מסך</span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-button (click)="showStage(screenStages.Intro, true)" class="app-sidebar-button">Intro</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button (click)="showStage(screenStages.IdNumber, true)" class="app-sidebar-button">Id Nuber</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button (click)="showStage(screenStages.Otp, true)" class="app-sidebar-button">Otp</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button (click)="showStage(screenStages.Queries, true)" class="app-sidebar-button">Queries</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button (click)="showStage(screenStages.LoanDetails, true)" class="app-sidebar-button">Loan Details
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <div class="app-content" [ngSwitch]="screenStage">
    <app-intro *ngSwitchCase="screenStages.Intro" (next)="showStage(screenStages.IdNumber)"></app-intro>
    <app-id-number *ngSwitchCase="screenStages.IdNumber"></app-id-number>
    <app-otp *ngSwitchCase="screenStages.Otp"></app-otp>
    <app-queries *ngSwitchCase="screenStages.Queries"></app-queries>
    <app-loan-details *ngSwitchCase="screenStages.LoanDetails"></app-loan-details>
  </div>
</mat-sidenav-container>



 <app-home-page></app-home-page>




