::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: rgb(49, 47, 47);
}
.lottie {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner__loading {
  display: flex;
  justify-content: center;
}

.btn-grad {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
.btn-grad {
  // margin: 10px;
  // padding: 15px 45px;
   text-align: center;
  // text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   width: 100%;
   border-radius: 42px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
