<mat-card>
    <mat-card-header>
      <mat-card-title>  נשמח להכיר קצת יותר, בשביל לתת לך אפשרות להגשים את החלום </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        
        <mat-form-field class="example-full-width">
          <mat-label> תעודת זהות </mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
            
      </div>
    </mat-card-content>
    <mat-card-actions dir="ltr">
      <button mat-raised-button color="warn" (click)="nextStage()">המשך</button>
    </mat-card-actions>
  </mat-card>
  