::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: rgb(49, 47, 47);
}
.lottie {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.next {
  width: 13%;
}
.mat-icon:hover {
  opacity: 1 !important;
  color:#c73126;
}
.spinner__loading {
  display: flex;
  justify-content: center;
}
