<!-- <router-outlet></router-outlet>

 <mat-vertical-stepper linear #stepper>
  <mat-step state="done" [stepControl]="frmStepOne">
    <ng-template matStepLabel>Step One Details</ng-template>
    <app-id-number #stepOne></app-id-number>
  </mat-step>
  <mat-step [stepControl]="(frmStepTwo | async)">
		<ng-template matStepLabel>Step Two Details</ng-template>
		<app-otp #stepTwo></app-otp>
	</mat-step>
  <mat-step [stepControl]="(frmStepThree | async)">
		<ng-template matStepLabel>Step Two Details</ng-template>
    <app-queries #stepThree></app-queries>
 </mat-step>
</mat-vertical-stepper> -->


<mat-vertical-stepper linear #stepper>
	<mat-step state="done" [stepControl]="(frmStepOne | async)">
		<!-- <ng-template matStepLabel>Step One Details</ng-template> -->
		<app-id-number #stepOne></app-id-number>
	</mat-step>
	<mat-step state="done" [stepControl]="(frmStepTwo | async)">
		<!-- <ng-template matStepLabel>Step Two Details</ng-template> -->
		<app-otp #stepTwo></app-otp>
	</mat-step>
  <mat-step [stepControl]="(frmStepThree | async)">
		<!-- <ng-template matStepLabel>Step Two Details</ng-template> -->
    <app-queries #stepThree></app-queries>
 </mat-step>
 <mat-step [stepControl]="(frmStepFour | async)">
  <!-- <ng-template matStepLabel>Step Two Details</ng-template> -->
  <app-offers-list #stepFour></app-offers-list>
</mat-step>
<mat-step [stepControl]="(frmStepFive | async)">
  <!-- <ng-template matStepLabel>Step Two Details</ng-template> -->
  <app-loan-details #stepFive></app-loan-details>
</mat-step>
</mat-vertical-stepper>
