<mat-card>
    <mat-card-header>
      <mat-card-title>  הלוואה בתנאים מותאמים: </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="column">
        
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label> מה סכום ההלואה שאתה מעוניין? </mat-label>
          <input type="number" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> בכמה תשלומים חודשיים תוכל להחזיר את ההלוואה? </mat-label>
            <input type="number" matInput placeholder="12">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> תאריך התחלה: </mat-label>
            <input type="date"  matInput >
        </mat-form-field>
            
      </div>
    </mat-card-content>
    <mat-card-actions dir="ltr">
      <button mat-raised-button color="warn" (click)="nextStage()">המשך</button>
    </mat-card-actions>
  </mat-card>