@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Bellefair&family=Poppins:wght@200&family=Roboto&family=Rubik:wght@400;600&display=swap');

mdb-carousel-item{
   margin:auto
}

.lottie{
  display: flex;
  justify-content: center;
  height: 450px ;
}

* {
  font-family: 'Rubik', sans-serif;
  font-weight:600;
}

h1{
  font-size: 30px;
  color: white;

}

.carousel-caption{
  font-size: 14px;
}

.card{
 // background-color:#a0aae5;


}

.alinger{
  display: flex;
  align-items: center;
  justify-content: center;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box div {
  width: 100px;
  height: 100px;
}
