
<h1>מה בא לך?</h1>

<mat-card class="card">
  <img mat-card-image src="../../assets/images/holiday.jpg" alt="Holiday">
  <mat-card-content>
    <mat-card-title>xxx</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img mat-card-image src="../../assets/images/learning.jpg" alt="Learning">
  <mat-card-content>
    <mat-card-title>xxx</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img mat-card-image src="../../assets/images/colors.jpg" alt="Renovation">
  <mat-card-content>
    <mat-card-title>xxx</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img mat-card-image src="../../assets/images/helping2.jpg" alt="Helping">
  <mat-card-content>
    <mat-card-title>first</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img mat-card-image src="../../assets/images/debt.jpg" alt="Debt">
  <mat-card-content>
    <mat-card-title>first</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img mat-card-image src="../../assets/images/new-buisness-good.jpg" alt="New buisness">
  <mat-card-content>
    <mat-card-title>xxx</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img mat-card-image src="../../assets/images/fulfill-your-dreams.jpg" alt="Dreams">
  <mat-card-content>
    <mat-card-title>xxx</mat-card-title>
  </mat-card-content>
</mat-card>
