@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Bellefair&family=Poppins:wght@200&family=Roboto&family=Rubik:wght@400;600&display=swap');

mdb-carousel-item{
  // margin:auto;
}

.lottie{
  display: flex;
  justify-content: center;
}

.carusel-container{
  padding-top:6.25rem;
}

h1 {
  font-size: 25px;
  color:#566070;
  font-weight:600;
}

h5{
  font-weight:600;
}

.carousel-caption{
  font-size: 20px;
}

.click-next, .dots{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.click-next div {
  position: fixed;
  width: 100px;
  height: 100px;
  //position: relative;
 // bottom: 74px;
}

.dots div  {
  position: fixed;
  bottom: 0;
  width: 200px;
  height: 200px;
}


