@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Bellefair&family=Poppins:wght@200&family=Roboto&family=Rubik:wght@400;600&display=swap');

mdb-carousel-item{
   margin:auto
}

.lottie{
  display: flex;
  justify-content: center;
}

*{
  font-family: 'Rubik', sans-serif;
  font-weight:600;
//  background-color: #a0aae5;

}

.carusel-container {
  background-color: #a0aae5;

}

h1 {
  font-size: 30px;
  color: white;

}

.carousel-caption{
  font-size: 20px;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box div {
  width: 100px;
  height: 100px;
}
